* {
  max-width: 700px;
  margin: auto;
}

/*body {
    min-width: 500px;
}*/

div {
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: #ffcccc;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

#footer {
  height: 50px;
  width: 100%;
  background-color: #ffcccc;
  clear: both;
  position: relative;
}

.left {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: left;
  position: fixed;
}

.right {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: right;
  position: inherit;
}

h1 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 4px;
}
h2 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.first_hr {
  border: none;
  border-top: 4px double #000;
  color: #000;
  overflow: visible;
  text-align: center;
  height: 0px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

p,
li {
  font-family: "Yrsa", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
} 

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 100px;
}

.head {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.skills {
  font-size: 17px;
  font-weight: 500;
  margin-left: 2px;
  margin-bottom: 8px;
}

.record {
  font-size: 18px;
  font-weight: bold;
  margin-left: 2px;
  margin-top: 12px;
  margin-bottom: 4px;
}

.job_title {
  font-weight: 600;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.date {
  float: right;
}
#cert {
  font-size: 17px;
  font-weight: 600;
  margin-left: 2px;
  margin-top: 10px;
  margin-bottom: 6px;
}
#name {
  font-family: Sacramento;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 430px) {
  .left,
  .right {
    display: none;
  }
  .stuff {
    width: 100%;
    margin-left: 10px;
  }
}
