name: Azure Functions API CI/CD

on:
  # workflow_call:
  workflow_dispatch:
  workflow_run:
    workflows: [Deploy Bicep file]
    types:
      - completed

env:
  AZURE_FUNCTIONAPP_NAME: 'func-http-trigger-resume'   # set this to your function app name on Azure
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './api'       # set this to the path to your function app project, defaults to the repository root
  AZURE_STATIC_WEB_APP_NAME: 'web-resume-00'   # set this to the name of your static web app on Azure
  AZURE_STATIC_WEB_APP_PACKAGE_PATH: './webpage'       # set this to the path to your static web app project, defaults to the repository root
  PYTHON_VERSION: '3.11'                     # set this to the python version to use (e.g. '3.6', '3.7', '3.8')

jobs:
  build-and-deploy-function:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    # if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    - name: Log into Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Setup Python ${{ env.PYTHON_VERSION }} Environment
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: 'Install Dependencies Using Pip'
      shell: bash
      run: |
        pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
        python -m pip install --upgrade pip
        pip install -r requirements.txt --target=".python_packages/lib/site-packages"
        popd

    - name: 'Deploy Function App'
      uses: azure/webapps-deploy@v2
      id: fa
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}

    # it should be workaround for unrealiable webapps-deploy action, but it throws error for missing
    # appSettings with string: 'WEBSITE_CONTENTAZUREFILECONNECTIONSTRING' which can not be used when
    # deploying with flexCosumption plan
    # - name: 'Run Azure Functions Action'
    #   uses: Azure/functions-action@v1.5.3
    #   id: fa
    #   with:
    #     app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
    #     package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
    #     scm-do-build-during-deployment: true
    #     enable-oryx-build: true